{{!
    ROFEO course catalogue, included from theme_moove/frontpage.

    Context variables required for this template:
    * cataloguetitle, cataloguesubtitle, coursectalabel, catalogueempty -
      theme_rofeo settings, supplied by layout/frontpage.php
    * hascourses, flatlayout, totalcourses, courses, categories -
      supplied by theme_rofeo\output\catalogue
}}
<section class="rofeo-catalogue" id="catalogue">
    <div class="rofeo-catalogue__inner">
        <h2 class="rofeo-catalogue__heading">{{{ cataloguetitle }}}</h2>
        {{#cataloguesubtitle}}
            <div class="rofeo-catalogue__subtitle">{{{ cataloguesubtitle }}}</div>
        {{/cataloguesubtitle}}

        {{#hascourses}}
            {{#flatlayout}}
                <div class="rofeo-grid">
                    {{#courses}}
                        {{> theme_rofeo/course_card }}
                    {{/courses}}
                </div>
            {{/flatlayout}}
            {{^flatlayout}}
                {{#categories}}
                    <div class="rofeo-catalogue__group">
                        <h3 class="rofeo-catalogue__category">{{{ name }}}</h3>
                        <div class="rofeo-grid">
                            {{#courses}}
                                {{> theme_rofeo/course_card }}
                            {{/courses}}
                        </div>
                    </div>
                {{/categories}}
            {{/flatlayout}}
        {{/hascourses}}

        {{^hascourses}}
            <div class="rofeo-catalogue__empty">{{{ catalogueempty }}}</div>
        {{/hascourses}}
    </div>
</section>
